<div id="text">
  img
    <ul>
        <li>{{ section.settings.nav1 }}</li>
        <li>{{ section.settings.nav2 }}</li>
        <li>{{ section.settings.nav3 }}</li>
        <li>{{ section.settings.nav4 }}</li>
        <li>{{ section.settings.nav5 }}</li>
        <li>{{ section.settings.nav6 }}</li>
        <li>{{ section.settings.nav7 }}</li>
    </ul>
</div>
{% schema %}
  {
    "name": "navigation",
    "settings": [
      {
        "id": "nav1",
        "type": "richtext",
        "label": "nav1",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav2",
        "type": "richtext",
        "label": "nav2",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav3",
        "type": "richtext",
        "label": "nav3",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav4",
        "type": "richtext",
        "label": "nav4",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav5",
        "type": "richtext",
        "label": "nav5",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav6",
        "type": "richtext",
        "label": "nav6",
        "default": "<p>nav1</p>"
      },
      {
        "id": "nav7",
        "type": "richtext",
        "label": "nav7",
        "default": "<p>nav7</p>"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}